<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Primeza Sistema{% endblock %}</title>

        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='style/estilos.css') }}">

        {% block css %}{% endblock %}

    </head>

    <body>

        <header>

            <nav>

                <a href="/index">Home</a>
                <a href="/sobre">Sobre</a>

                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>

            </nav>

        </header>

        <main>

            {% block content %}{% endblock %}

        </main>

        <footer>

            <p>Sistema Primeza</p>

        </footer>

        {% block scripts %}{% endblock %}

    </body>

</html>