*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* 
CAMADA 1 — BODY (FUNDO)
 */

body{

    position:relative;

    min-height:100vh;

    background-image:url("/static/img/atria-shopping.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    font-family:Inter, sans-serif;
    color:rgb(32, 31, 31);

    overflow-x:hidden;

    z-index:0;

}


/* 
CAMADA 3 — BACKGROUND FIXO
 */

.background{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100vh;

    pointer-events:none;

    z-index:3;

}


.background::before{

    content:"";
    position:absolute;
    inset:0;

    background:linear-gradient(
        120deg,
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.15),
        rgba(0,0,0,0.35)
    );

    background-size:400% 400%;

    animation:gradientMove 4s ease infinite;

}


/* 
ANIMAÇÃO DO GRADIENTE
 */

@keyframes gradientMove{

    0%{
        background-position:0% 50%;
    }

    25%{
        background-position:50% 25%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}



/*CAMADA 2 — CONTEÚDO
*/

header,
.hero,
.features,
.stores,
.atrium,
.cta,
.feet{

    position:relative;
    z-index:1;

}



/* HEADER
*/

.header{

    letter-spacing:5px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    position:fixed;
    width:100%;

    background:rgba(255, 255, 255, 0.6);

    backdrop-filter:blur(10px);

    z-index:4;

}

.logo{

    font-size:26px;
    font-weight:700;

}

nav a{

    margin-left:20px;
    text-decoration:none;
    color:rgb(190, 188, 188);

}

.btn{

    background:#3b82f6;
    padding:10px 18px;
    border-radius:8px;

}



/* 
HERO
 */

.hero{

    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

}

.hero h1{

    font-family:"Playfair Display", serif;

    font-size:70px;
    font-weight:700;

    background:linear-gradient(
        90deg,
        #ffffff,
        #e2e8f0,
        #ffffff,
        #cbd5f5,
        #a62424
    );

    background-size:400%;

    background-clip:text;
    -webkit-background-clip:text;

    color:transparent;
    -webkit-text-fill-color:transparent;

    animation:shineText 6s linear infinite;

}

.hero p{

    margin-top:10px;
    font-size:22px;

    letter-spacing:3px;

    color:#292502;

}

/* 
BOTÕES
 */

.buttons{

    margin-top:40px;

}

.btn-primary{

    width:200px;

    background:#3b82f6;

    border-radius:10px;

    cursor:pointer;

    padding:12px 20px;

    margin-top:30px;

}

.btn-secondary{

    width:200px;

    border:2px solid #3b82f6;

    border-radius:10px;

    cursor:pointer;

    padding:12px 20px;

    margin-top:30px;

}


/* 
SCROLL INDICATOR
 */

.scroll-indicator{

   font-size:30px;
    margin-top:90px;

    background:linear-gradient(
        90deg,
        #ffffff 0%,
        #ffffff 35%,
        #ffffff 50%,  /*A frase colorida em partes*/
        #ffffff 65%,
        #ffffff 100%
    );

    background-clip:text;
    -webkit-background-clip:text;

    color:transparent;
    -webkit-text-fill-color:transparent;

    animation:scrollBounce 1s infinite;

}


@keyframes scrollBounce{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(12px);
    }

}


/* 
FEATURES
 */

.features{

    padding:140px 20px;

    text-align:center;

}

.features-grid{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-top:40px;

}

.feature-card{

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(20px);

    padding:40px;

    border-radius:16px;

    width:260px;

    transition:all 0.4s;

}

.feature-card:hover{

    transform:translateY(-12px) scale(1.03);

}



/* 
STORES
 */

.stores{

    padding:140px 20px;

    text-align:center;

}

.stores-grid{

    display:flex;

    justify-content:center;

    gap:40px;

    margin-top:40px;

}

.store-card{

    letter-spacing:5px;

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(15px);

    padding:50px;

    border-radius:16px;

    width:240px;

    transition:all 0.4s;

}

.store-card:hover{

    transform:rotateX(8deg) rotateY(8deg) scale(1.05);

}



/* 
IMAGEM ATRIUM
 */

.atrium{

    padding:120px 20px;

    text-align:center;

}

.atrium img{

    width:900px;

    max-width:90%;

    border-radius:20px;

    margin-top:40px;

    box-shadow:0 40px 80px rgba(0,0,0,0.4);

}



/* 
CTA
 */

.cta{

    padding:140px 20px;

    text-align:center;

}



/* 
SCROLL REVEAL
 */

.reveal{

    opacity:0;

    transform:translateY(80px);

    transition:all 1.2s ease;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}



/* 
FOOTER
 */

.feet{

    background:#333;

    margin-top:40px;

    padding:30px 20px;

    text-align:center;

    border-top:1px solid #222;

}

.logo_branch_tech{

    width:160px;

    margin:15px auto;

    display:block;

    color: #ffffff;

}

.dev{

    font-size:12px;

    color:#aaa;

}


/*   ÚLTIMO BOTÃO */
.btn-last-container{

    display:flex;
    justify-content:center;

}

.btn-last{

    width:200px;

    background:#3b82f6;

    border-radius:10px;

    cursor:pointer;

    padding:12px 20px;

    border:none;

}